nav {
    width: 30%;
    height: 100vh;
    padding: 30px;
    color: #aaa;
    box-sizing: border-box;
}
.menu-title{
    font-size: 34px;
    margin-bottom: 20px;
    color: black;
}
.menu-text{
    font-size: 14px;
    color: #aaa;
    margin: 20px 0;
    width: 70%;
}
hr{
    width: 30%;
    margin: 25px 0;
    color: #aaa;
}

.menu > li {
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
    transition: 0.35s;
  }
  
  .menu > li:hover {
    color: black;
  }
  
  .menu > li.selected {
    color: black;
  }